.services-detail {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .services-detail .overlap-wrapper {
    background-color: var(--color-white);
    height: 4558px;
    width: 1680px;
  }
  
  .services-detail .overlap {
    height: 4559px;
    position: relative;
  }
  
  .services-detail .desktop-base {
    height: 960px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1680px;
  }
  
  .services-detail .icon-button-3 {
    left: 32px !important;
    top: 120px !important;
    transform: rotate(180deg) !important;
  }
  
  .services-detail .arrow-6 {
    height: 24px !important;
    position: relative !important;
    transform: rotate(-180deg) !important;
    width: 24px !important;
  }
  
  .services-detail .header {
    -webkit-backdrop-filter: blur(4px) brightness(100%);
    align-items: center;
    backdrop-filter: blur(4px) brightness(100%);
    background-color: #ffffff99;
    display: flex;
    flex-direction: column;
    height: 121px;
    padding: 0px 160px;
    position: relative;
    width: 1680px;
  }
  
  .services-detail .holder-3 {
    align-items: center;
    align-self: stretch;
    display: flex;
    flex: 1;
    flex-grow: 1;
    justify-content: space-between;
    padding: 30px 32px;
    position: relative;
    width: 100%;
  }
  
  .services-detail .logo-bar {
    align-items: center;
    display: flex;
    gap: 15px;
    margin-bottom: -9.2px;
    margin-top: -9.2px;
    position: relative;
    width: 300px;
  }
  
  .services-detail .default-2 {
    height: 78.4px;
    position: relative;
    width: 99.61px;
  }
  
  .services-detail .nav {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 40px;
    height: 40px;
    justify-content: center;
    position: relative;
  }
  
  .services-detail .nav-item {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    position: relative;
  }
  
  .services-detail .inner {
    align-items: flex-end;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    justify-content: center;
    position: relative;
  }
  
  .services-detail .frame {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 6px;
    position: relative;
  }
  
  .services-detail .text-wrapper-5 {
    color: #605f63;
    font-family: "SF Pro Display-Semibold", Helvetica;
    font-size: 16.6px;
    font-weight: 400;
    letter-spacing: 0.17px;
    line-height: 20px;
    margin-top: -1px;
    position: relative;
    text-align: right;
    white-space: nowrap;
    width: fit-content;
  }
  
  .services-detail .inner-2 {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 6px;
    justify-content: center;
    position: relative;
  }
  
  .services-detail .services {
    color: #605f63;
    font-family: "SF Pro Display-Medium", Helvetica;
    font-size: 16.6px;
    font-weight: 500;
    letter-spacing: 0.17px;
    line-height: 20px;
    margin-top: -1px;
    position: relative;
    text-align: right;
    white-space: nowrap;
    width: fit-content;
  }
  
  .services-detail .careers {
    color: #161519;
    font-family: "SF Pro Display-Medium", Helvetica;
    font-size: 16.6px;
    font-weight: 500;
    letter-spacing: 0.17px;
    line-height: 20px;
    margin-top: -1px;
    position: relative;
    text-align: right;
    white-space: nowrap;
    width: fit-content;
  }
  
  .services-detail .text-wrapper-6 {
    color: #605e62;
    font-family: "SF Pro Display-Medium", Helvetica;
    font-size: 16.6px;
    font-weight: 500;
    letter-spacing: 0.17px;
    line-height: 20px;
    margin-top: -1px;
    position: relative;
    text-align: right;
    white-space: nowrap;
    width: fit-content;
  }
  
  .services-detail .extras-instance {
    display: flex !important;
    width: 300px !important;
  }
  
  .services-detail .border-instance {
    align-self: stretch !important;
    position: relative !important;
    width: 100% !important;
  }
  
  .services-detail .content-2 {
    align-items: center;
    display: inline-flex;
    flex-direction: column;
    left: 0;
    position: absolute;
    top: 0;
  }
  
  .services-detail .page-header {
    align-items: flex-start;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 46px;
    padding: 112px 32px 64px;
    position: relative;
    width: 1680px;
  }
  
  .services-detail .container {
    align-items: center;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    justify-content: flex-end;
    padding: 72px 0px 0px;
    position: relative;
    width: 100%;
  }
  
  .services-detail .wrap {
    align-items: flex-start;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 10px;
    justify-content: flex-end;
    position: relative;
    width: 1304px;
  }
  
  .services-detail .holder-4 {
    align-items: flex-start;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 10px;
    justify-content: flex-end;
    position: relative;
    width: 760px;
  }
  
  .services-detail .headline-meta {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 10px;
    position: relative;
  }
  
  .services-detail .UI-UX-strategy-may {
    color: #181829;
    font-family: "SF Pro Display-Semibold", Helvetica;
    font-size: 15.6px;
    font-weight: 400;
    letter-spacing: 0.23px;
    line-height: 26.4px;
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .services-detail .explore-our-new-2 {
    align-self: stretch;
    color: var(--color-black);
    font-family: var(--h1-header-font-family);
    font-size: var(--h1-header-font-size);
    font-style: var(--h1-header-font-style);
    font-weight: var(--h1-header-font-weight);
    letter-spacing: var(--h1-header-letter-spacing);
    line-height: var(--h1-header-line-height);
    position: relative;
  }
  
  .services-detail .project {
    align-items: flex-start;
    display: flex;
    flex: 0 0 auto;
    gap: 40px;
    position: relative;
    width: 1304px;
  }
  
  .services-detail .project-gallery {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 8px;
    position: relative;
    width: 632px;
  }
  
  .services-detail .first-image {
    align-self: stretch;
    background-image: url(./image.png);
    background-position: 50% 50%;
    background-size: cover;
    height: 500px;
    position: relative;
    width: 100%;
  }
  
  .services-detail .share-bar-instance {
    background-color: var(--color-white) !important;
    display: flex !important;
    left: 33px !important;
    position: absolute !important;
    top: 32px !important;
    width: 45px !important;
  }
  
  .services-detail .share-bar-2 {
    color: #0f0f18 !important;
    margin-left: -2px !important;
    margin-right: -2px !important;
  }
  
  .services-detail .share-bar-3 {
    color: #0f0f18 !important;
  }
  
  .services-detail .video-button-instance {
    display: flex !important;
    left: 279px !important;
    position: absolute !important;
    top: 214px !important;
    width: 73px !important;
  }
  
  .services-detail .project-details {
    align-items: flex-start;
    display: flex;
    flex: 1;
    flex-direction: column;
    flex-grow: 1;
    padding: 0px 0px 0px 16px;
    position: relative;
  }
  
  .services-detail .project-details-2 {
    align-items: flex-start;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 10px;
    margin-right: -16px;
    position: relative;
    width: 632px;
  }
  
  .services-detail .headline-3 {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 16px;
    position: relative;
    width: 100%;
  }
  
  .services-detail .UI-UX-strategy-may-2 {
    color: #161418;
    font-family: var(--paragraph-small-bold-font-family);
    font-size: var(--paragraph-small-bold-font-size);
    font-style: var(--paragraph-small-bold-font-style);
    font-weight: var(--paragraph-small-bold-font-weight);
    letter-spacing: var(--paragraph-small-bold-letter-spacing);
    line-height: var(--paragraph-small-bold-line-height);
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .services-detail .p {
    align-self: stretch;
    color: #0f0f18;
    font-family: "DM Sans-Bold", Helvetica;
    font-size: 62px;
    font-weight: 700;
    letter-spacing: -3.1px;
    line-height: 62px;
    position: relative;
  }
  
  .services-detail .excerpt {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    padding: 12px 0px 0px;
    position: relative;
    width: 100%;
  }
  
  .services-detail .at-izh-tech-we {
    align-self: stretch;
    color: #0f0f18;
    font-family: "SF Pro Display-Regular", Helvetica;
    font-size: 18.4px;
    font-weight: 400;
    letter-spacing: 0.28px;
    line-height: 29.4px;
    margin-top: -1px;
    position: relative;
  }
  
  .services-detail .span {
    color: #0f0f18;
    font-family: "SF Pro Display-Regular", Helvetica;
    font-size: 18.4px;
    font-weight: 400;
    letter-spacing: 0.28px;
    line-height: 29.4px;
  }
  
  .services-detail .text-wrapper-7 {
    font-family: "SF Pro Display-Medium", Helvetica;
    font-weight: 500;
  }
  
  .services-detail .task {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 4px;
    padding: 16px 0px 0px;
    position: relative;
    width: 100%;
  }
  
  .services-detail .text-wrapper-8 {
    color: #0f0f18;
    font-family: "DM Sans-Bold", Helvetica;
    font-size: 16.8px;
    font-weight: 700;
    letter-spacing: -0.42px;
    line-height: 22.7px;
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .services-detail .text-wrapper-9 {
    align-self: stretch;
    color: #161418;
    font-family: "SF Pro Display-Regular", Helvetica;
    font-size: 18.4px;
    font-weight: 400;
    letter-spacing: 0.28px;
    line-height: 29.4px;
    position: relative;
  }
  
  .services-detail .section {
    align-items: center;
    align-self: stretch;
    background-color: #111013;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    justify-content: center;
    padding: 98px 0px;
    position: relative;
    width: 100%;
  }
  
  .services-detail .container-2 {
    align-items: center;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    justify-content: center;
    position: relative;
    width: 1304px;
  }
  
  .services-detail .div-4 {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    gap: 40px;
    position: relative;
    width: 100%;
  }
  
  .services-detail .column {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex: 1;
    flex-direction: column;
    flex-grow: 1;
    gap: 60px;
    position: relative;
  }
  
  .services-detail .design-component-instance-node-2 {
    align-self: stretch !important;
    flex: 0 0 auto !important;
    width: 100% !important;
  }
  
  .services-detail .icon-box-SC-instance {
    background-color: #8f93ff40 !important;
    display: inline-flex !important;
    flex: 0 0 auto !important;
    height: unset !important;
    width: unset !important;
  }
  
  .services-detail .turned-in-not-instance {
    height: 36px !important;
    position: relative !important;
    width: 36px !important;
  }
  
  .services-detail .icon-box-SC-2 {
    color: var(--color-white) !important;
    font-family: "DM Sans-Bold", Helvetica !important;
    font-size: 19px !important;
    font-style: unset !important;
    font-weight: 700 !important;
    letter-spacing: -0.57px !important;
    line-height: 25.7px !important;
  }
  
  .services-detail .icon-box-SC-3 {
    color: var(--color-black-light-dark-mode) !important;
  }
  
  .services-detail .icon-box-SC-4 {
    align-self: stretch !important;
    height: 191px !important;
    width: 100% !important;
  }
  
  .services-detail .intersect {
    height: 741px;
    left: 1310px;
    position: absolute;
    top: 542px;
    width: 370px;
  }
  
  .services-detail .intersect-2 {
    height: 375px;
    left: -10px;
    position: absolute;
    top: -18px;
    width: 188px;
  }
  
  .services-detail .container-wrapper {
    align-items: center;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    justify-content: center;
    padding: 98px 0px;
    position: relative;
    width: 100%;
  }
  
  .services-detail .column-2 {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    gap: 50px;
    position: relative;
    width: 520px;
  }
  
  .services-detail .p-ek-w-so {
    align-self: stretch;
    flex: 1;
    flex-grow: 1;
    object-fit: cover;
    position: relative;
    width: 100%;
  }
  
  .services-detail .column-3 {
    align-self: stretch;
    position: relative;
    width: 72px;
  }
  
  .services-detail .column-4 {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex: 1;
    flex-direction: column;
    flex-grow: 1;
    gap: 32px;
    padding: 98px 0px;
    position: relative;
  }
  
  .services-detail .heading-instance {
    font-family: "SF Pro-Semibold", Helvetica !important;
    font-size: 52px !important;
    font-style: unset !important;
    font-weight: 400 !important;
    letter-spacing: -0.52px !important;
    line-height: 54.6px !important;
  }
  
  .services-detail .div-5 {
    align-items: flex-start;
    display: flex;
    flex: 1;
    flex-direction: column;
    flex-grow: 1;
    gap: 32px;
    justify-content: center;
    position: relative;
  }
  
  .services-detail .text-wrapper-10 {
    align-self: stretch;
    color: var(--demo2-dark);
    font-family: "SF Pro Display-Regular", Helvetica;
    font-size: 18.4px;
    font-weight: 400;
    letter-spacing: 0.28px;
    line-height: 29.4px;
    position: relative;
  }
  
  .services-detail .div-wrapper {
    align-items: center;
    align-self: stretch;
    background-color: #f4fafa;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    justify-content: center;
    padding: 98px 0px;
    position: relative;
    width: 100%;
  }
  
  .services-detail .sticky-nav-instance {
    background-color: var(--color-white) !important;
    border: 1px solid !important;
    border-color: #dddddd !important;
    left: 378px !important;
    position: absolute !important;
    top: 452px !important;
  }
  
  .services-detail .arrow-7 {
    height: 24px !important;
    position: relative !important;
    width: 24px !important;
  }
  
  .services-detail .section-2 {
    align-items: center;
    background-color: var(--color-black);
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    justify-content: center;
    padding: 98px 0px;
    position: relative;
    width: 1680px;
  }
  
  .services-detail .row {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    gap: 40px;
    justify-content: center;
    position: relative;
    width: 100%;
  }
  
  .services-detail .heading-2 {
    color: var(--color-grey-light) !important;
  }
  
  .services-detail .design-component-instance-node-3 {
    color: var(--color-white) !important;
  }
  
  .services-detail .button-wrapper {
    align-items: flex-end;
    display: flex;
    flex: 1;
    flex-direction: column;
    flex-grow: 1;
    gap: 32px;
    padding: 42px 0px 0px;
    position: relative;
  }
  
  .services-detail .button-3 {
    background: linear-gradient(
      180deg,
      rgb(88, 119, 248) 10.24%,
      rgb(255, 32, 178) 59.16%,
      rgb(255, 187, 3) 87.44%
    ) !important;
    background-color: unset !important;
    flex: 0 0 auto !important;
  }
  
  .services-detail .border-wrapper {
    align-items: center;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    gap: 40px;
    justify-content: center;
    padding: 30px 0px;
    position: relative;
    width: 100%;
  }
  
  .services-detail .border-2 {
    position: relative !important;
    width: 1304px !important;
  }
  
  .services-detail .row-2 {
    align-items: center;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    gap: 40px;
    justify-content: center;
    position: relative;
    width: 100%;
  }
  
  .services-detail .we-re-a-team-of {
    align-self: stretch;
    color: var(--color-black-light-dark-mode);
    font-family: "SF Pro Display-Regular", Helvetica;
    font-size: 18.4px;
    font-weight: 400;
    line-height: 29.4px;
    margin-top: -1px;
    position: relative;
  }
  
  .services-detail .text-wrapper-11 {
    letter-spacing: 0.28px;
  }
  
  .services-detail .text-wrapper-12 {
    font-family: "SF Pro Display-Bold", Helvetica;
    font-weight: 700;
    letter-spacing: 0.18px;
  }
  
  .services-detail .column-5 {
    flex: 1;
    flex-grow: 1;
    position: relative;
  }
  
  .services-detail .footer {
    align-items: center;
    align-self: stretch;
    background-color: #161418;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    position: relative;
    width: 100%;
  }
  
  .services-detail .wrap-wrapper {
    align-items: flex-start;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    justify-content: center;
    padding: 96px 0px 80px;
    position: relative;
    width: 1304px;
  }
  
  .services-detail .col {
    align-items: flex-start;
    display: flex;
    flex: 1;
    flex-direction: column;
    flex-grow: 1;
    gap: 32px;
    position: relative;
  }
  
  .services-detail .widget {
    flex: 0 0 auto;
    position: relative;
  }
  
  .services-detail .fb-ig-tw-be-wrapper {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 24px;
    padding: 1px 0px;
    position: relative;
  }
  
  .services-detail .fb-ig-tw-be {
    color: var(--color-white);
    font-family: var(--h6-header-font-family);
    font-size: var(--h6-header-font-size);
    font-style: var(--h6-header-font-style);
    font-weight: var(--h6-header-font-weight);
    letter-spacing: var(--h6-header-letter-spacing);
    line-height: var(--h6-header-line-height);
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .services-detail .widget-2 {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 24px;
    padding: 1px 0px;
    position: relative;
    width: 100%;
  }
  
  .services-detail .widget-headline-instance {
    align-self: stretch !important;
    display: flex !important;
    flex: 0 0 auto !important;
    width: 100% !important;
  }
  
  .services-detail .widget-headline-2 {
    color: var(--color-white) !important;
    opacity: unset !important;
  }
  
  .services-detail .div-6 {
    align-self: stretch;
    color: var(--color-black-light-dark-mode);
    font-family: "SF Pro Display-Regular", Helvetica;
    font-size: 15.6px;
    font-weight: 400;
    letter-spacing: 0.23px;
    line-height: 26.4px;
    position: relative;
  }
  
  .services-detail .text-wrapper-13 {
    color: #ffffffbf;
    font-family: "SF Pro Display-Regular", Helvetica;
    font-size: 15.6px;
    font-weight: 400;
    letter-spacing: 0.23px;
    line-height: 26.4px;
  }
  
  .services-detail .text-wrapper-14 {
    color: #ffffffbf;
    font-family: var(--paragraph-small-font-family);
    font-size: var(--paragraph-small-font-size);
    font-style: var(--paragraph-small-font-style);
    font-weight: var(--paragraph-small-font-weight);
    letter-spacing: var(--paragraph-small-letter-spacing);
    line-height: var(--paragraph-small-line-height);
  }
  
  .services-detail .widget-headline-3 {
    color: var(--color-black-light-dark-mode) !important;
    opacity: unset !important;
  }
  
  .services-detail .widget-headline-4 {
    color: var(--color-white) !important;
    flex: 1 !important;
    opacity: unset !important;
    white-space: unset !important;
    width: unset !important;
  }
  
  .services-detail .subscribe-form-instance {
    width: 296px !important;
  }
  
  .services-detail .subscribe-form-2 {
    left: 0 !important;
    position: absolute !important;
    top: 0 !important;
    width: 296px !important;
  }
  
  .services-detail .subscribe-form-3 {
    left: 198px !important;
    position: absolute !important;
    top: 0 !important;
  }
  
  .services-detail .subscribe-form-4 {
    color: var(--color-grey) !important;
    flex: 1 !important;
    font-family: "SF Pro Display-Regular", Helvetica !important;
    font-size: 16.5px !important;
    font-style: unset !important;
    font-weight: 400 !important;
    letter-spacing: 0.17px !important;
    line-height: 24px !important;
    white-space: unset !important;
    width: unset !important;
  }
  
  .services-detail .container-3 {
    align-items: flex-start;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    justify-content: center;
    position: relative;
    width: 1304px;
  }
  
  .services-detail .wrap-2 {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    gap: 40px;
    padding: 38px 0px;
    position: relative;
    width: 100%;
  }
  
  .services-detail .text-wrapper-15 {
    color: var(--color-black-light-dark-mode);
    font-family: var(--paragraph-small-font-family);
    font-size: var(--paragraph-small-font-size);
    font-style: var(--paragraph-small-font-style);
    font-weight: var(--paragraph-small-font-weight);
    letter-spacing: var(--paragraph-small-letter-spacing);
    line-height: var(--paragraph-small-line-height);
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .services-detail .links-wrapper {
    align-items: flex-end;
    display: flex;
    flex: 1;
    flex-direction: column;
    flex-grow: 1;
    gap: 32px;
    justify-content: center;
    position: relative;
  }
  
  .services-detail .links {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 32px;
    position: relative;
  }